.card-wrapper {
    display: flex; float: left; flex-direction: row;
}
.system-chat-dark {
    color: white; background-color: dark-gray; padding-bottom: 10px;
}
.user-chat-dark {
    color: white; background-color: #404040; padding-bottom: 10px;
}
.system-chat-light {
    color: black; background-color: dark-gray; padding-bottom: 10px;
}
.user-chat-light {
    color: white; background-color: #404040; padding-bottom: 10px;
}
p {
    padding: 0px; margin: 0px;
}
.copy-link {
    float: right;
}